
header {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

nav {
	margin-bottom: 50px;
}

nav li {
	margin: auto
}

.blogpost {
	margin: 20px 0px 20px 0px;
}

.blogpost h6 {
	margin-top: 20px;
	text-decoration: underline;
}

.page-heading {
	margin-bottom: 30px;
	color: #333333;
}

#img-dog {
	border-radius: 5%;
}

#h-dog {
	text-align: center;
}

.centered-text {
	text-align: center;
	width: 100%;
	margin: auto;
	margin-top: 30px;
}

.centered-cont {
	text-align: center;
}

@media (min-width: 600px) {
	#img-dog {
		width: 500px;
	}
	
	.centered-text {
		width: 500px;
	}
}